.mat-card {
  width: 200px;
  margin: 2rem;
  display: inline-block;
  height: 260px;
}
.mat-card:hover {
  background: darkcyan;
  cursor: pointer;
  -moz-box-shadow: 0 0 10px #888888;
  -webkit-box-shadow: 0 0 10px #888888;
  box-shadow: 0 0 10px #888888;
  transform: scale(1.1, 1.1);
}
.example-header-image {
  background-size: cover;
}
.mat-card-header {
  font-size: 28px;
  margin: auto;
}
.mat-card-image {
  max-width: 200px;
  max-height: 200px;
  margin: auto;
}

.mat-button {
  margin: auto;
}
.mat-spinner {
  margin: auto;
  display: block;
}
.list-container {
  display: inline;
}
.outer-container {
  margin: 20px 20px 10px 10px;
  display: inline;
}
.header-class {
  background: #424242;
}
