.mat-card {
  width: 200px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  display: inline-block;
  height: 240px;
}
.mat-card:hover {
  background: darkcyan;
  cursor: pointer;
  -moz-box-shadow: 0 0 10px #888888;
  -webkit-box-shadow: 0 0 10px #888888;
  box-shadow: 0 0 10px #888888;
  transform: scale(1.1, 1.1);
}
.example-header-image {
  background-size: cover;
}
.mat-card-header {
  font-size: 28px;
  margin: auto;
  text-align: center;
}
.mat-card-image {
  max-width: 200px;
  max-height: 200px;
  margin: auto;
}

.mat-button,
.mat-form-field {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.index-spinner {
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.list-container {
  display: inline;
}
.outer-container {
  margin: 20px 20px 10px 10px;
  display: inline-block;
  height: 300px;
}
.header-class {
  background: #424242;
}
.empty-message > h3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
