<header class="header-class">
  <button mat-button (click)="fillPokeDex()" color="accent">
    Load PokeDex
  </button>
  <button mat-button (click)="clearPokeDex()" color="accent">
    Clear PokeDex
  </button>
  <mat-form-field>
    <input
      [value]="searchName"
      (input)="searchName = $event.target.value"
      type="text"
      matInput
      placeholder="Pokemon Name"
      (keyup)="filterByName($event)"
      name="filter"
    />
  </mat-form-field>
  <mat-form-field>
    <div class="gender">
      <mat-select placeholder="Gender" (valueChange)="filterByGender($event)">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let gender of genderData" [value]="gender.name">
          {{ gender.name }}
        </mat-option>
      </mat-select>
    </div>
  </mat-form-field>
  <mat-form-field>
    <div class="habitat">
      <mat-select
        placeholder="Habitat"
        color="accent"
        (valueChange)="filterByHabitat($event)"
      >
        <mat-option>None</mat-option>
        <mat-option
          *ngFor="let habitat of habitatData"
          name="habitat.name"
          [value]="habitat.name"
        >
          {{ habitat.name }}
        </mat-option>
      </mat-select>
    </div>
  </mat-form-field>
  <mat-form-field>
    <div class="region">
      <mat-select
        placeholder="Region"
        color="warn"
        (valueChange)="filterByRegion($event)"
      >
        <mat-option>None</mat-option>
        <mat-option
          *ngFor="let region of regionData"
          name="region.name"
          [value]="region.name"
        >
          {{ region.name }}
        </mat-option>
      </mat-select>
    </div>
  </mat-form-field>
  <button mat-button (click)="search()" color="primary">Search</button>
  <!--
    <button mat-button (click)="clearFilter()" color="primary"> Clear </button>
  -->
</header>
<br />
<mat-spinner class="example-margin" color="accent" *ngIf="isLoading">
</mat-spinner>
<div class="pokemon-list" *ngIf="!isLoading">
  <div
    class="outer-container"
    *ngFor="let pokemon of pokeDexData; let i = index"
    (deferLoad)="pokemon.show = true"
  >
    <div
      *ngIf="pokemon.show"
      class="list-container"
      (click)="showPokemonDetails(pokemon.pokemon_species.name)"
    >
      <mat-card class="pokemon-card">
        <mat-card-header>
          <mat-card-title
            ># {{ pokemon.id }}
            {{ pokemon.pokemon_species.name }}</mat-card-title
          >
        </mat-card-header>
        <img
          mat-card-image
          src="{{ pokemon.imageUrl }}"
          alt="Photo of {{ pokemon.pokemon_species.name  }}"
        />
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
