.pokemon-type,
.pokemon-ability {
  display: inline;
}
.type-button,
.ability-button {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.mat-card-image {
  height: 250px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
}
.basic-info {
  display: inline;
}
.basic-label-1 {
  text-align: left;
}
.basic-label-2 {
  text-align: right;
}
.page-detail {
  font-size: 1em;
  font-weight: bold;
}
.pokemon-name {
  text-align: center;
  display: block;
}
.mid-detail {
  font-size: 1.4em;
  text-align: center;
  display: block;
}
.back-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.table {
  width: 100%;
}
.dialog-spinner {
  display: block;
  margin: auto;
}
